Crop characteristics
$aquaCropVersion
1
$cropCharacteristics.getCropType()
$sown
$cropCharacteristics.getCropCycle()
$depletionFactorsAdjusted
$cropCharacteristics.getBaseTemperature()
$cropCharacteristics.getUpperTemperature()
$cropCharacteristics.getCropCycleLength()
$cropCharacteristics.getCanopyDepletionFactorUpper()
$cropCharacteristics.getCanopyDepletionFactorLower()
$cropCharacteristics.getCanopyShapeFactor()
$cropCharacteristics.getStomatalDepletionFraction()
$cropCharacteristics.getStomatalShapeFactor()
$cropCharacteristics.getSenescenceDepletionFactorUpper()
$cropCharacteristics.getSenescenceShapeFactor()
$cropCharacteristics.getSenescenceThreshold()
$cropCharacteristics.getPollinationDepletionFactorUpper()
$cropCharacteristics.getAerationAnaerobioticPoint()
$cropCharacteristics.getSoilFertilityStress()
$cropCharacteristics.getCanopyResponseShapeFactor()
$cropCharacteristics.getMaximumCanopyResponseShapeFactor()
$cropCharacteristics.getWaterProductivityShapeFactor()
$cropCharacteristics.getCanopyDeclineShapeFactor()
$cropCharacteristics.getPollinationFailMinTemp()
$cropCharacteristics.getPollinationFailMaxTemp()
$cropCharacteristics.getBiomassMinTemp()
$cropCharacteristics.getCanopyCompleteCoefficient()
$cropCharacteristics.getCropCoefficientDecline()
$cropCharacteristics.getMinRootingDepth()
$cropCharacteristics.getMaxRootingDepth()
$cropCharacteristics.getRootZoneShapeFactor()
$cropCharacteristics.getMaxRootWaterExtractionTop()
$cropCharacteristics.getMaxRootWaterExtractionBottom()
$cropCharacteristics.getCanopyEffect()
$cropCharacteristics.getSeedlingCoverage()
$cropCharacteristics.getNumPlants()
$cropCharacteristics.getCanopyGrowthCoefficient()
$cropCharacteristics.getCanopyCoefficientDecrease()
$cropCharacteristics.getCanopyCoefficientSeasons()
$cropCharacteristics.getCanopyCoefficientShapeFactor()
$cropCharacteristics.getMaxCanopyCover()
$cropCharacteristics.getCanopyDeclineCoefficient()
$cropCharacteristics.getSowingToEmergence()
$cropCharacteristics.getSowingToMaxRooting()
$cropCharacteristics.getSowingToSenescence()
$cropCharacteristics.getSowingToMaturity()
$cropCharacteristics.getSowingToFlowering()
$cropCharacteristics.getFloweringLength()
$cropCharacteristics.getCropDeterminancy()
$cropCharacteristics.getPotentialFruitsExcess()
$cropCharacteristics.getHarvestIndexDays()
$cropCharacteristics.getWaterProductivity()
$cropCharacteristics.getYieldWaterProductivity()
$cropCharacteristics.getReferenceHarvestIndex()
$cropCharacteristics.getWaterStressIncrease()
$cropCharacteristics.getPositiveHiImpactCoefficient()
$cropCharacteristics.getNegativeHiImpactCoefficient()
$cropCharacteristics.getHiMaxIncrease()
$cropCharacteristics.getGdSowingToEmergence()
$cropCharacteristics.getGdSowingToMaxRooting()
$cropCharacteristics.getGdSowingToSenescence()
$cropCharacteristics.getGdSowingToMaturity()
$cropCharacteristics.getGdSowingToFlowering()
$cropCharacteristics.getGdFloweringStageLength()
$cropCharacteristics.getCanopyCoverIncrease()
$cropCharacteristics.getCanopyCoverDecrease()
$cropCharacteristics.getGdHarvestIndexBuildUp()
